<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %c.%M:%L - %m%n" />
		</layout>
	</appender>
	<appender name="RollingFile" class="org.apache.log4j.RollingFileAppender">
		<param name="MaxFileSize" value="500MB" />
		<param name="File" value="logs/upload.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %c.%M:%L - %m%n" />
		</layout>
	</appender>

	<logger name="org.apache.http" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.springframework.scheduling.quartz" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.quartz" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.springframework" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="STDOUT" />
	</logger>


	<root>
		<priority value="INFO" />
		<appender-ref ref="STDOUT" />
<!-- 		<appender-ref ref="RollingFile" /> -->
	</root>

</log4j:configuration> 